@import url(reset.css);
@import url(header.css);
@import url(footer.css);
/*------------------------메인 타이틀-----------------------------*/
#mainHead{
    padding-top:70px;
    width:100%;
    height:500px;
    background-color: #eee;
    font-family:'Song Myung';
}
#headTxtBox{
    width:1000px;
    position:absolute;
    left: 50%;
    font-size: 30px;;
}