@import url(reset.css);
@import url(header.css);
@import url(footer.css);
/*==============================================================*/
/*mainTitle*/
#mainHead{
    padding:70px;
    width:100%;
    height: 340px;
    background-color: #062f6e;
    position: relative;
    overflow: hidden;
}
#titleImgBox{
    width:400px;
    height:400px;
    position: absolute;
    left:80%;
    bottom:-150px;
    overflow: hidden;
}
#titleImgBox>img{
    width:100%;
    opacity: .5;;
}
.titleTextBox{
    width: 350px;;
    position: absolute;
    top:45%;
    left:50%;
    margin-left: -175px;
}
.titleTextBox>p{
    text-align: center;
    color:#fff;
    font-size:70px;
    font-family:'Song Myung';
}
.titleTextBox>p:last-of-type{
    font-size:30px;
}
#productList{
    position: relative;
    height:1400px;
}
#productWrap{
    width:1300px;
    height:900px;
    position:absolute;
    left:50%;
    margin-left:-600px;
}

.selectList{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
}
.selectList>li{
    margin:0 20px;
}
/*----------------------상품 박스----------------------*/
.productbox{
    height:1400px;
}

.productbox>li{
    position: relative;
    float:left;
    margin:0 15px 30px;
}
.listBox{
    width:280px;
    height:400px;
}
.productImgBox{
    width:270px;
    height:270px;
}
.productImgBox>img{
    width:100%;
}
.productTextBox{
    height:70px;
}
.productTextBox>p:first-of-type{
    margin-top: 10px;
    font-size:15px;
    font-weight: 700;
}
.productTextBox>p:last-of-type{
    font-size:18px;
    text-align: right;
    padding-bottom: 20px;
}
/*///////////////////하단부 태그리스트////////////*/
.iconList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

}
.tagList{
    width:150px;
    height:30px;
}
.tagList>span{
    text-align: center;
    display: inline-block;
    padding:5px;
    width:70px;
    height:30px;
    color:#fff;
    background-color: #062f6e;
    font-size: 15px;
    line-height: 23px;
}
.tagList>span:last-of-type{
    background-color: #222;
}
.shopList{
    display:flex ;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width:65px;
    height:30px;
    line-height: 30px;
}
.shopList>span{
    width:30px;
    height:30px;
    font-size:25px;
}
.fas-solid{
    line-height:30px;
    color:#222;
    width:20px;
    height:30px;
    padding-top:4px;
}