@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url(header.css);
@import url(footer.css);
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin:0; padding:0;  box-sizing:border-box; font-family: 'GmarketSansMedium';}
a{text-decoration: none; color:inherit}
ul,ol {list-style: none;}
#wrap{width:1903px;}
.clear::after{content:""; clear:both; display: block;}
/*여기서부터 메인 내용*/
/*---------------------슬라이더--------------------------*/

/*mainImg*/
#mainImg{
    margin-top:70px;
    width:1903px;
    height:600px;
    background-color: antiquewhite;
    position:relative;
}
#mainTitle{
    position:absolute;
    line-height:600px;
    left: 50%;
    margin-left:-324px;
    font-size:50px;
    font-family:'Song Myung';
    color:#fff;
    z-index: 9999999;
}
#imageRoll{
    width:px;
    height:600px;
    position:relative;
}
#imageRoll>li{
    width:1903px;
    height:600px;
    position:absolute;
    top:0;
    left:0;
    overflow: hidden;
    opacity:0 ;
    transition: 2s;

}
/*--------------------이미지바----------------------------*/
#imageLine{
    position:absolute;
    left:50%;
    bottom:10px;
    height:20px;
    margin-left:-240px;
    z-index: 988888899;
}
#imageLine>li{
    width:100px;
    height:10px;
    margin: 0px 10px;
    background-color: #fff;
    opacity: 0.2;
    float: left;
    transition: 2s;
    z-index: 988888899;
}
#imageLine>li.on{
    opacity: 1;
    background-color: #fff;
    transition: 2s;
}

#imageLine>li:hover{
    opacity: 1;
    background-color: #fff;
    transition: 2s;
}
/*이미지 롤링 애니메이션*/
#imageRoll>li.on{
    opacity:1;
    transition: 2s;
    z-index: 999;
}
#selectBox{
    height:350px;
    background-color: #eee;
    position: relative;
}
.forWho{
    padding-top:70px;
    margin-left:200px;
    width:250px;
    float:left;
}
.forWho>p{
    font-family:'Song Myung';
    font-size:35px;
}
.forWho>p:first-child{
    margin-bottom:30px;
}
p.click{
    font-size:50px;
    position: relative;
    transition: 0.6s;
}
.click::after{
    content:"";
    display: block;
    height: 2px;
    width:0px;
    background-color: black;
    animation: loong 0.6s both;
}
@keyframes loong{
    0%{ width:0px;}
    100%{width:250px;}
}

.listBox{
    padding-top:25px;
    margin-left:150px;
    position: absolute;
    left:400px;
}
.listBox>li{
    width:250px;
    height:300px;
    background-color: #fff;
    float:left;
    margin:0 20px;
}
.listBox.selected{
    z-index: 99;
}
#infoPage{
    height:500px;
    overflow: hidden;
}
.infoBox{
    width:7612px;
}
.infoBox li{
    float: left;
    width:1900px;
    height:500px;
    }
.photoBox{
    width:900px;
    height: 500px;;
    overflow: hidden;
    float: left;
}
.photoBox>img{
    width:100%;
}
.txB{
    width:400px;
    height:200px;
    margin:150px 100px;
    float: left;
}
.txB>p:first-child{
    font-size:40px;
    font-family: 'Song Myung';
}
.txB>p:nth-child(2){
    margin:20px 0px;
}
.linkBox{
    width:150px;
    height:50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin-left:250px;
}
.linkBox a:hover{
    opacity: 0.8;
}
#reviewPage{
    height:1600px;
    background-color: #eee;
    position:relative;
}
.reviewTitle{
    height:350px;
    text-align: center;
    padding:50px 0 20px;
}
.reviewTitle>h1{
    font-size:50px;
}
.reviewTitle>p{
    font-size: 30px;
    color:#062f62;
    margin:10px 0;
}
.reviewTitle span{
    font-size:60px;
}
#reviewBox{
    width:1200px;
    background-color: #fff;
    position:absolute;
    left:50%;
    margin-left:-600px;
    padding:25px;
}
.reviewList{
    width:1150px;
    height:300px;
    position:relative;
    padding:25px;
}
.reviewList::after{
    content: "";
    display: block;
    width:1000px;
    height:2px;
    background-color: #062f62;
    left:50%;
    bottom:0;
    margin-left: -500px;
    position: absolute;
}
.reviewImg{
    width:250px;
    height:250px;
    background-color: #eee;
    float: left;
}
.reviewT{
    font-size:30px;
}
.reviewText{
    width:800px;
    height:200px;
    margin-left:30px;
    float: left;
}
#instagram{
    height:500px;
    background-color: #062f62;
}
.instaTitle>h1{
    padding-top: 40px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.instaList{
    position:absolute;
    left:50%;
    margin-left:-540px
}
.instaList>li{
    width:250px;
    height:250px;
    background-color: #fff;
    float: left;
    margin: 70px 10px;
}
